// Font colors
.text-pc {
  color: $pc;
}
.text-pc-dark {
  color: $pc-dark;
}
.text-pc-light {
  color: $pc-light;
}
.text-ac {
  color: $ac;
}
.text-grey-medium {
  color: $grey-medium;
}
.text-grey-light {
  color: $grey-light;
}